<!DOCTYPE html>
<html>
<body>

<form action="/temp" method="POST">
Start name: <input type="datetime-local" name="start_time"><br>
End name: <input type="datetime-local" name="end_time"><br>
<input type="submit" value="Submit">
</form>

<form action="/temp" method="POST">
Start time <input type="time" name="start_time"><br>
End time <input type="time" name="end_time"><br>
<input type="submit" value="Submit">
</form>

</body>
</html>