<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>After Admin User</title>
</head>
<body>
	<div>
		<%- include header.ejs %>
		<div class="main">
		<h1>Existing User</h1>
			<% for(var i=0; i < user.length; i++) { %>
			<div class="row">
				<!-- LOCAL INFORMATION -->
				<div class="col-sm-6">
					<div class="well">
						<strong>ALL</strong>: <%= JSON.stringify(user[i]) %><br>
					</div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</body>
</html>