<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>After Admin User</title>

</head>
<body>
<div>
	<%- include header.ejs %>
	<div class="main">
		<div class="row">

			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span>Your Wallet</h3>
					<p>
						<strong>Your Balance</strong>: <%= user %><br>
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>