<!-- views/Profiles/new_location.ejs -->
<!doctype html>
<html>
<head>
	<title>Add new equipment</title>
</head>
<body>
<div>
	<%- include header.ejs %>
	<div class="main">
		<div class="row">
			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span>Add new car/equipment</h3>
					<p>
					<!-- show any messages that come back with authentication -->
					<% if (message.length > 0) { %>
						<div class="alert alert-danger"><%= message %></div>
					<% } %>

					<!-- NEW ADMIN FORM -->
					<form action="/add_car" method="post">
						<div class = "form-group">
							<label>Select Equipment</label>
							<select name = "name" type="text" class="form-control">
							  <% for(var i=0; i < user.length; i++) { %>
								  <option value= <%= user[i].asset_name + "," + user[i].model %> ><%= i+1 + ". " + user[i].asset_name + ", " + user[i].model %></option>
							  <% } %>
							</select>
						</div>
						<div class="form-group">
							<label>Select Year</label>
							<input type="number" class="form-control" name="year">
						</div>
						<div class="form-group">
							<label>Enter bought Price</label>
							<input type="number" class="form-control" name="bought_price">
						</div>
						<div class="form-group">
							<label>Rating</label>
							<select name = "rating" type="number" class="form-control">
								  <option value= 1>1 Star</option>
								  <option value= 2>2 Star</option>
								  <option value= 3>3 Star</option>
								  <option value= 4>4 Star</option>
								  <option value= 5>5 Star</option>
							</select>
						</div>
						<button type="submit" class="btn btn-warning btn-lg">Add New Equipment</button>
					</form>
					</p>

				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>