<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>After Admin User</title>

</head>
<body>
<div>
	<%- include header.ejs %>
	<div class="main">
		<div class="row">

			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h1><span class="fa fa-user"></span>404 Page Not Found</h1>
				
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>