<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/eddb453e51.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<style>
	body {
	    font-family: "Lato", sans-serif;
	}

	.sidenav {
	    height: 100%;
	    margin-top: 2cm;
	    width: 200px;
	    position: fixed;
	    z-index: 1;
	    top: 0;
	    left: 0;
	    background-color: #111;
	    overflow-x: hidden;
	    padding-top: 20px;
	}

	.sidenav a {
	    padding: 6px 6px 6px 32px;
	    text-decoration: none;
	    font-size: 15px;
	    color: #818181;
	    display: block;
	}

	.sidenav a:hover {
	    color: #f1f1f1;
	}

	.main {
	    margin-left: 200px; /* Same as the width of the sidenav */
	}

	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 15px;}
	  .sidenav a {font-size: 18px;}
	}
	</style>
</head>
<body>

	<div class="sidenav">
		<a href="/dashboard">Dashboard <i class="fa fa-dashboard fa-2x" aria-hidden="true"></i></a>
		<a href = "/complete_profile">Complete Your Profile</a>
	 	<a href="#">Chatbox</a>
	  	<a href="#">Management</a>
	  	<ul>
		  	<li><a href="/dealer_my_equipment">My equipments</a></li>
		  	<li><a href="/dealer_purchase">Purchase</a></li>
	  	</ul>
	  	<a href="#">Bid</a>
	  	<a href="/add_car">Upload Listing</a>
	  	<a href="/next_auction">Auctions</a>
	  	<a href="/wallet">Wallet</a>
	</div>

	<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
	    	<div class="navbar-header">
	      		<a class="navbar-brand" href="#">EquipShare Auctions</a>
	   		</div>

	   		<form class="navbar-form navbar-left" action="/action_page.php">
	      		<div class="form-group">
	        		<input type="text" class="form-control" placeholder="Search" name="search">
	      		</div>
	      		<button type="submit" class="btn btn-default">Submit</button>
	    	</form>

	    	<ul class="nav navbar-nav navbar-right">
	    		<li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>  Home</a></li>
	      		<li><a href="/notify"><i class="fa fa-bell" aria-hidden="true"> Notifications</i></a></li>
	      		<li><a href="/profile"><i class="fa fa-user" aria-hidden="true">  My Profile</i></a></li>
	      		<li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true">  Logout</i></a></li>
	    	</ul>
	  	</div>
	</nav>




	<script>
		// Script for Facebook Page Message.
		console.log(req.session);
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '95100348886',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>


    <div align="right">
	    <div class="fb-page" 
	         data-href="https://www.facebook.com/equipshare.in/" 
	         data-tabs="messages" 
	         data-width="400" 
	         data-height="300" 
	         data-small-header="true">
	      <div class="fb-xfbml-parse-ignore">
	        <blockquote></blockquote>
	      </div>
	    </div>
	</div>

<script type="text/javascript">
	
	socket.on("connect", onsocketConnected);
	var chatfunc = new function(){
		X = chat.value;
		socket.emit('chat_message', {name: Name, text: X});
		chat.value = '';
		//onChatUpdate({name: Name, text: X});
	}

</script>




</body>
</html>